@import "../utils/extends";
@import "../utils/vars";

.menu {
  &__toggler {
    position: absolute;
    width: 25px;
    top: 20px;
    right: 20px;
    z-index: 100;
    display: none;
    cursor: pointer;
  }
  &__line {
    display: block;
    width: 100%;
    border-bottom: 3px solid $c-black;
    &:not(:first-of-type) {
      margin-top: 3px;
    }
  }
  &__hide {
    display: none;
  }

  &__cross {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 786px) {
  .menu__toggler {
    display: block;
  }
}
