@import "../utils/vars";
@import "../utils/extends";

$box-width: 232px;

.video {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 590px;
  margin-top: 150px;
  background-color: #000;
  &__background {
    @extend %background-image;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../images/video/1.png");
    opacity: 1;
    transition: opacity 0.3s;
  }
  &__triangle {
    display: none;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid #f3f4f5;
  }
  &__text {
    display: block;
    color: #f3f4f5;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
  }
  &:hover &__background {
    opacity: 0.6;
  }
  &:hover &__triangle {
    display: block;
  }
  &:hover &__text {
    display: none;
  }
  &__box {
    position: absolute;
    top: calc(50% - #{$box-width/2});
    left: calc(50% - #{$box-width/2});
    width: $box-width;
    height: $box-width;
    border: 2px solid #f3f4f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media only screen and (max-width: 350px) {
  .video {
    margin-top: 90px;
  }
}
