.tech {
  margin-top: 110px;
  padding-top: 40px; }
  .tech-wrapper {
    width: 100%;
    height: 511px; }
  .tech__image {
    width: 100%;
    position: absolute;
    top: -41px; }
    .tech__image-wrapper {
      position: relative;
      height: 100%;
      width: 76%;
      min-width: 928px;
      margin: auto; }
  .tech__input {
    display: none; }
  .tech__descr {
    position: absolute;
    display: none;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 160px;
    padding: 19px;
    height: 160px;
    -webkit-transform: translate(23px, 26px);
            transform: translate(23px, 26px); }
    .tech__descr::after {
      content: "";
      width: 33%;
      border-bottom: 3px solid #000;
      position: absolute;
      bottom: -1px;
      right: 0; }
    .tech__descr--1 {
      height: 229px; }
    .tech__descr--2 {
      height: 82px; }
    .tech__descr--3 {
      height: 229px; }
    .tech__descr--4 {
      position: absolute;
      top: -114px;
      right: 45px;
      height: 81px;
      border-left: none;
      border-bottom: none;
      border-right: 1px solid #000;
      border-top: 1px solid #000; }
      .tech__descr--4::after {
        display: none; }
    .tech__descr--5 {
      -webkit-transform: translateX(-128px);
              transform: translateX(-128px);
      border-right: 1px solid #000;
      border-left: none; }
      .tech__descr--5::after {
        left: 0; }
    .tech__descr--6 {
      height: 137px; }
    .tech__descr--7 {
      height: 82px; }
    .tech__descr--8 {
      height: 180px;
      z-index: 2; }
    .tech__descr--9 {
      left: -8px;
      top: 85px;
      height: 219px; }
    .tech__descr--10 {
      left: -7px;
      top: 82px;
      height: 113px;
      z-index: 4; }
    .tech__descr--11 {
      left: -7px;
      top: 82px;
      height: 141px;
      z-index: 3; }
    .tech__descr--right {
      -webkit-transform: translateX(-128px);
              transform: translateX(-128px);
      border-right: 1px solid #000;
      border-left: none; }
      .tech__descr--right::after {
        left: 0; }
  .tech__point {
    display: block;
    background-image: url("../images/tech/plus.png");
    background-color: #0db2b3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
    width: 48px;
    height: 48px; }
    .tech__point-wrapper {
      position: absolute; }
      .tech__point-wrapper:first-of-type {
        top: 131px;
        left: 74px; }
      .tech__point-wrapper:nth-of-type(2) {
        top: 243px;
        left: 181px; }
      .tech__point-wrapper:nth-of-type(3) {
        top: 198px;
        left: 248px; }
      .tech__point-wrapper:nth-of-type(4) {
        top: 106px;
        left: 274px; }
      .tech__point-wrapper:nth-of-type(5) {
        top: 186px;
        left: 366px; }
      .tech__point-wrapper:nth-of-type(6) {
        top: 129px;
        left: 435px; }
      .tech__point-wrapper:nth-of-type(7) {
        bottom: 247px;
        left: 539px; }
      .tech__point-wrapper:nth-of-type(8) {
        top: 69px;
        right: 220px; }
      .tech__point-wrapper:nth-of-type(9) {
        top: 50px;
        right: 112px; }
      .tech__point-wrapper:nth-of-type(10) {
        top: 148px;
        right: 67px;
        z-index: 4; }
      .tech__point-wrapper:nth-of-type(11) {
        top: 92px;
        right: 35px; }
  .tech__input:checked ~ .tech__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .tech__input:checked + .tech__point {
    background-color: #000; }

@media only screen and (max-width: 1050px) {
  .tech-wrapper {
    overflow-x: scroll;
    overflow-y: hidden; }
  .tech__image-wrapper {
    width: 928px; } }

@media only screen and (max-width: 600px) {
  .tech__descr {
    background-color: rgba(255, 255, 255, 0.32); } }

@media only screen and (max-width: 350px) {
  .tech {
    margin-top: 50px; } }

/*# sourceMappingURL=tech.css.map */
