@mixin button($_ver, $_hor) {
  text-transform: uppercase;
  padding: $_ver $_hor;
  cursor: pointer;
}

@mixin icons($_right, $_bottom) {
  position: fixed;
  bottom: $_bottom;
  right: $_right;
  cursor: pointer;
  z-index: 1;
  transition: bottom 2s;
}

@mixin buttonBlack($_ver, $_hor) {
  color: $c-white;
  padding: $_ver $_hor;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid transparent;
  background-color: $c-black;
  cursor: pointer;
  transition: all 1s;
  &:hover {
    color: $c-black;
    background-color: $c-white;
    border-color: $c-black;
  }
}
